<html>
<body>
<h1>  this is my dynamic files</h1>
<h1>  name is : "<%= node['mywebserver']['name'] %>"     </h1>
<h1>  ip address is : "<%= node['ipaddress']%>"  </h1>
<h1>  os is :  "<%= node['platform'] %>"    </h1>
</body>
</html>
